<% if(!!user.assinante) { %>
    

<article>
    <img src="<%= user.avatar %>" alt="">
    <div>
        <h2><% user.nome %> <%= user.sobrenome %></h2>
        <p><%= user.email %></p>
        <p><%= user.idade %></p>
    </div>
</article>