<section>
    <% if(locals.produtos && locals.produtos.length) { %>
        
        <h2><%= subtitle %></h2>

    <% for(let produto of produtos) { %>
        <%- include('./card', {produto} ) %>
    <% } %>

    <% } else { %>

    <h2>Sem produtos por hoje... Volte mais tarde.</h2>

    <% } %>
</section>