<section>
    <% if(locals.chinelos && locals.chinelos.length) { %>
    <h2>Todos os chinelos</h2>
    <% for(let chinelo of chinelos) { %>
    <%- include('./card', {chinelo} ) %>
    <% } %>
    <% } else { %>
    <h2>Sem chinelos por hoje... Volte mais tarde.</h2>
    <% } %>
</section>