<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <section>
        <h2>Todos os Chinelos</h2>
        <article style="background-color: #f0f" id="chinelo1">
            id: 1
            marca: "Havaianas"
            cor: #f0f
            ano: 1998
            exclusiva: true
        </article>
    </section>
    
</body>
</html>