<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <% if(locals.users && locals.users.length) {%>
      <% for(let user of users) {%>

        <%= include('partials/users') %>

      <% } %>
    <% } else {%>
      <h4>Infelizmente não há usuários cadastrados...</h4>
      <% } %>
  </body>
</html>
